@font-face {
  src: url(./assets/font/Inter/inter.ttf);
  font-family: Inter;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #212121;
  color: #fff;
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 24px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 8px;
  height: calc(100vh - 128px);
  width: calc(100vw - 30%);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper header {
  font-size: 26px;
  font-weight: 700;
  height: fit-content;
}

.wrapper main {
  flex-grow: 1;
  height: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.wrapper main form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.wrapper main form .form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wrapper main form .form-item input,
.wrapper main form .form-item textarea {
  padding: 16px 24px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

.wrapper main form .submit-button {
  border: none;
  background-color: #fff;
  color: #000;
  padding: 8px 64px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 16px;
}

.wrapper main {
  overflow: auto;
}

.wrapper main .list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 24px;
  overflow-y: auto;
}

.wrapper main .list .list-item {
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper main .list .list-item .list-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper main .list .list-item .list-item-head .list-item-title {
  font-size: 24px;
  font-weight: 700;
}

.wrapper main .list .list-item .list-item-head .deadline {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.wrapper main .list .list-item .list-item-head .deadline .clock-icon {
  width: 24px;
  height: 24px;
  background-image: url(./assets/images/clockIcon.svg);
  background-size: cover;
}

.wrapper footer {
  font-size: 12px;
  height: fit-content;
}
